<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DESKTOP-M75UEQH\SQLEXPRESS_FitnessCenter_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-M75UEQH\SQLEXPRESS;integrated security=SSPI;initial catalog=FitnessCenter" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>